body {
    text-align: center;
}
h1 {
    color: white;
    margin-top: 100px;
    margin-bottom: 20px;
}
p {
    font-size: 30px;
}
.circle {
    border-radius: 50%;
    background:rgb(255, 0, 0);
    font-size: 25px;
    line-height: 118px;
    text-align: center;
    border: 15px solid rgb(250, 0, 0);
    margin: 15px;
}